body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #663399;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button{
    padding: 15px 25px;
    margin: 20px;
    color: white;
    border: none;
    background-color: grey;
    transition: background-color 0.5s, padding 0.5s, margin 0.5s;
}

input {
    margin: 5px;
}

select {
    margin: 5px;
}

button:hover{
    padding: 18px 28px;
    margin: 17px;
    color: white;
    border: none;
    background-color: #663399;
}

button:active {
    animation: pulse 0.5s;
}

.sectionTitle {
    font-family: "Graphik Black", Times, serif;
    font-display: block;
    font-style: italic;
    font-size: 40px;
    color: grey;
    margin: 1%;
    border-bottom: 1px grey solid;
    width: 70%;
}

.elementContainer {
    background-color: whitesmoke;
    padding: 0.5%;
    border-color: antiquewhite;
    border-width: thin;
    border-style: groove;
    text-align: left;
    min-height: 40px;
}

.elementContent {
    width: 90%;
    height: 100%;
    display: inline-block;
}

.idContainer {
    background-color: #663399;
    color: white;
    font-weight: 800;
    font-size: 24px;
    display: block;
    text-align: left;
    padding: 0.5%;
}

.idContainer select {
    background: transparent;
    border:0px;
    outline:0px;
    text-align: left;
    color: inherit;
    font: inherit;
    border-bottom: white 2px solid;
    transition: border-bottom 0.2s;
}

.idContainer select:hover {
    border-bottom: whitesmoke 2px solid;
}

.idContainer option {
    background-color: #663399;
    border: 0px;
}

.idContainer button {
    float: right;
    display: inline-flex;
    margin: 2px;
    width: 30px;
    height: 30px;
    padding: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.idContainer button:hover {
    background-color: whitesmoke;
    color: black;
}

.elementDeleteButtonContainer {
    width: 9%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.elementDeleteButton {
    right: 2%;
}

.elementImgDisplay {
    max-height: 300px;
    max-width: 300px;
    margin-left: 10%;
}

.formContainer {
    width: 450px;
    display: block;
}

.checkboxContainer {
    width: 620px;
    display: block;
}

.factContainer {
    width: 450px;
    display: block;
}

.inputContainer {
    display: block;
    height: 100%;
    width:100%
}

#heading {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    color: white;
}

#wrapper {
    margin: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: white;
    padding: 2%;
    border-radius: 6px;
    vertical-align: top;
}

#app {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
}

#appDiv {
    margin-right: 3%;
    display: inline-grid;
    border: 1px black solid;
    top: 0;
}

#previewContainer {
    display: inline-flex;
    position: sticky;
    top: 3%;
    right: 15%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px black solid;
}

#buttonContainer {
    height: 60px;
    grid-column: 1/3;
}

#sendJSON {
    float: right;
    display: inline-block;
}

#sendJSON:hover {
    background-color: green;
}

#copyJSON {
    float: right;
    display: inline-block;
}

#copyJSON:hover {
    background-color: blue;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}